<app-link
  part="button"
  href="{{href}}"
  target="{{target}}"
  rel="{{rel}}"
  aria-label="{{ariaLabel}}"
  onclickeventname="{{onclickeventname}}"
  {{#if isSpa}}spa{{/if}}
>
  <span class="icon"><slot name="icon"></slot></span>
  <span class="text"><slot></slot></span>
</app-link>
